.top-navbar img {
    display: inline-block;
}

.top-navbar div {
    width: 100%;
    padding: 10px 0;
}

/* ---------------- learn page navbar ---------------- */
.learn-page-navbar__nav-item img{
    width: 100%;
}

.learn-page-navbar__nav-item {
    width: 7%;
    padding: 0 20px;
    cursor: pointer;
}

.learn-page-navbar__flag-list-container {
    border: 1px solid black;
    width: 160px;
    position: absolute;
    right: 20px;
}

.learn-age-navbar__flag-item {
    border-bottom: 1px solid black;
    width: 100%;
    height: 60px;
    position: relative;
}

.learn-age-navbar__flag-item a {
    display: block;
    position: relative;
}

.learn-age-navbar__flag-item img {
    width: 30%;
    position: absolute;
    line-height: 60px;
}