@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
#fbdf00
#eed43d
#667abe
#3150aa
#91C747
#0097b2 
#FFDE59
#cf142f

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.c-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}

.c-border {
  border: 1px solid black;
}

.c-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* label */

.best-seller-label {
  background: linear-gradient(to right, #5170ff, #ff66c4);
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

/* tags */

.beginner-tag {
  display: inline-block;
  background-color: #91C747;
  padding: 1px 5px;
  border-radius: 100px;
  font-size: 10px;
  color: white;
  margin-right: 5px;
}

.immediate-tag {
  display: inline-block;
  background-color: #FFDE59;
  padding: 1px 5px;
  border-radius: 100px;
  font-size: 10px;
  color: white;
  margin-right: 5px;
}

.advanced-tag {
  display: inline-block;
  background-color: #FF5757;
  padding: 1px 5px;
  border-radius: 100px;
  font-size: 10px;
  color: white;
  margin-right: 5px;
}

.language-tag {
  display: inline-block;
  background-color: #0097b2 ;
  padding: 1px 5px;
  border-radius: 100px;
  font-size: 10px;
  color: white
}



